*{
    margin: 0;
    padding: 0;
}
table, th, td{
    border: none;
}

form{
    width: 250px;
    height: 450px;
    margin: 50px auto;
    padding: 20px;
    border: 6px solid #161717;
    border-collapse: collapse;
    background: #0e0e0e;
    border-radius: 121px/13px;
}
table{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

input[type="text"]{
    width: 100%;
    height: 80px;
    padding: 0 5px 0 5px;
    border: 2px solid #23A4DD;
    box-sizing: border-box;
    margin: 30px 0 30px 0;
    text-align: right;
    font-size: 40px;
    color: #000;
    outline: none;
    background-color: #E5DFA1;
}
td{
    display: inline;
}
input[type="button"]{
    width: 50px;
    height: 50px;
    float: left;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    font-weight: 700;
    background-color: #e0dbdb;
    outline: none;
}
input[type="button"]:active{
    transform: translateY(5px);
}
